@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (max-width: 427px) {
  .modal {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: 76px;
  }
  .open-menu-btn {
    display: none;
  }
  .header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 12px 40px;
    font-style: normal;
  }

  .header-menu-link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active {
    color: var(--text-color);
  }
  .header-menu-link:hover {
    color: var(--text-color);
  }
  .header-menu-link:focus {
    color: var(--text-color);
  }
  .header-contacts-link:hover {
    color: var(--text-color);
  }
  .header-contacts-link:focus {
    color: var(--text-color);
  }
  .header-contacts-list {
    font-style: normal;
  }
  .header-contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adv {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .adv-list {
    gap: 72px 24px;
  }
  .adv-item {
    width: calc((100% - 24px) / 2);
    max-width: unset;
    text-align: left;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
    width: 100%;
  }
  .team-item {
    gap: 64px 24px;
  }
  .custom-list {
    width: calc((100% - 48px) / 3);
    max-width: 168px;
  }
  .custom-item {
    gap: 72px 24px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg.jpg);
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-2-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .footer {
    padding: 96px 0;
  }

  .footer-container {
    padding-left: 108px;
    gap: 72px 24px;
  }
  .footer-footer {
    margin: 0;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-social {
    margin: 0;
    text-align: unset;
  }
  .footer-sub {
    margin: 0;
  }
  .footer-soc-title {
    text-align: left;
  }
  .footer-form {
    flex-direction: unset;
    gap: 24px;
    max-width: 453px;
  }
  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-contacts-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .header-contacts-list {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adv {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .adv-item {
    width: calc((100% - 72px) / 4);
    max-width: 100%;
  }
  .adv-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .adv-icons {
    display: block;
  }
  .adv-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
  }
  .adv.text {
    width: 264px;
  }
  .adv-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
  }
  .desc {
    display: block;
  }
  .team-list {
    width: calc((100% - 72) / 4);
    max-width: 100%;
  }
  .team-item {
    flex-wrap: nowrap;
  }
  .custom-list {
    width: calc((100% - 120px) / 6);
  }
  .custom-item {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
    max-width: 1440px;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-direction: unset;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: unset;
  }
  .footer-footer {
    width: 264px;
    margin-right: 120px;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-text {
    width: 264px;
  }
  .footer-social {
    margin-right: 80px;
  }
  .footer-social-item {
    margin: 0;
  }
  .footer-footer {
    margin-right: 120px;
  }
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
